*{
    box-sizing: border-box;
}

html {
    font-family: Sarabun-Regular;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

img {
    width: 100%;
}

button {
    text-decoration: none;
}

datalist {
    display: none;
}

h1, h2, h3, h4, h5, h6, a {
    margin: 0 0 1em;
    line-height: 1.4;
}

img, embed, video, object {
    max-width: 100%;
}

nav a, button {
    min-width: 48 px;
    min-height: 48 px;
}

.site-title {
    font-family: Poppins-SemiBold;
}

.header-cont {
    width: 100%;
    height: 90px;
    background-color: rgb(246, 134, 88);
}

.btn-header {
    max-width: 100px;
    max-height: 30px;
    color:rgb(253, 254, 247);
    background-color: rgb(127, 127, 127);
}

.map-container{
    
    /* flex-direction: row-reverse; */
    /* justify-content: space-around; */
    margin-top: 50px;
    gap: 20px;
    justify-content: center;
}

.map{
    width: 400px;
    height: 400px;
}
.locations{
    border: 1px solid gray;
    flex-grow: 1;
    padding: 5px;
}

.weather{
    border: 1px solid gray;
    flex-grow: 1;
    background-color: aquamarine;
}

.location-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}