*{
    box-sizing: border-box;
}
.map-container{
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: space-around; */
    margin-top: 50px;
    gap: 20px;
    justify-content: center;

    

}

.map{
    width: 400px;
    height: 400px;
}
.locations{
    border: 1px solid gray;
    flex-grow: 1;
    padding: 5px;
    
}

.weather{
    border: 1px solid gray;
    flex-grow: 1;
    background-color: aquamarine;
}

.location-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}